<section>
        <img src="<%= book.image_url %>">
        <h2><%= book.title%></h2>
        <h3><%= book.author %></h3>
        <p><%= book.description %></p>
        <p><%= book.ISBN %></p>
        <h3><%= book.bookshelf %></h3>
        <!-- <button class="myBtn">UPDATE THIS BOOK</button> -->
        <form action='/books/<%= book.id %>?_method=DELETE' method="POST" >
                <button type="submit">DELETE</button>
        </form>
</section>