<!-- <section>
        <img src="<%= result.img_url %>">
        <h2><%= result.title%></h2>
        <h3><%= result.author %></h3>
        <p><%= result.description %></p>
        <p><%= result.ISBN %></p>
        <p><%= result.bookshelf %></p>
</section> -->