<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Books</title>
    <%- include('../layout/head') %>
</head>
<body>
    <%- include('../layout/header') %>

    <main>
        <h1>Search Results</h1>
            <ul>
                <% shelf.forEach(book => { %>
                    <li>
                      <div>
                        <img src=" <%= book.img_url %> " alt="cover">
                        <h2> <%= book.title %></h2>
                        <h3> <%= book.author %></h3>
                        <p> <%= book.discription %></p>
                      </div>
                       
                    </li>
                <% }); %>
            </ul>
       
    </main>
    
    <%- include('../layout/footer') %>
</body>
</html>