<!DOCTYPE HTML>
<html>
  <head>
    <title>Error</title>
    <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>

    <main>
        <h1><%= error.message %></h1>
        <h2><%= error.status %></h2>
    </main>
     
    <%- include('../layout/footer') %>
  </body>
</html>