<!DOCTYPE HTML>
<html>
  <head>
    <title>Error</title>
    <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>

    <main>
        <h1><%= error.message %></h1>
        <h2><%= error.status %></h2>
    </main>
     
    <%- include('../layout/footer') %>
    <script>
      $('#updateDataForm').hide();
      $('#showform').click(()=>{
      $('#updateDataForm').slideToggle();
  })
  
  $(".tabs").hide();
  $("#burger").click(()=>{
    $(".tabs").slideToggle();
   });
  
  </script>
  </body>
</html>