<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>book-app</title>
    <%- include('../layout/head') %>
</head>
<body>
    <%- include('../layout/header') %>

    <main>
            <h6>Here you can search and save your favorit books </h6>
            <h6><%= bookNum %> Saved Books</h6>
            <a href='/searches/new'>search</a>

    <ul>
        <% books.forEach(book=>{ %>
            <li>
                <section id='result'><img src=<%= book.image_url %>>
                    <br>
                    <h2><%= book.title %></h2> 
                    <br>
                    <h3><%= book.author %></h3>
                    <a href="/books/<%= book.id%>"><button>View Details</button></a>
                </section> 
            </li>
       <% }) %>
        
    </ul>
    </main>
    <%- include('../layout/footer') %>
 
</body>
</html>